* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .programme{
    height:60px;
    justify-content: space-evenly;
    margin: 0;
    align-items:center;
    flex-direction: row;
}
  .container-row {
    width: 100%;
    height: 100%;
    background: hsl(226, 43%, 10%);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    padding: 10px;
    grid-gap: 20px;
  }
  .one-column{
    width: 240px;
    height: 450px;
    background: hsl(235, 46%, 20%);
    border-radius: 20px;
  }
  .information-details{
    width: 100%;
    height: 320px;
    border-radius: 20px;
    background: hsl(246, 80%, 60%);
    position: relative;
    color: #fff;
    font-family: "Rubik", sans-serif;
  }
  .information-details p {
    position: absolute;
    top: 40%;
    left: 10%;
    color: hsl(236, 100%, 87%);
  }
  .information-details h1 {
    position: absolute;
    top: 50%;
    left: 10%;
  }
  .jeremy-img{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 10%;
    left: 10%;
    border-radius: 50%;
    border: 2px solid #fff;
  }
  .programme {
    width: 100%;
    height: 130px;
    border-radius: 0 0 20px 20px;
    color: #fff;
    font-family: "Rubik", sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-left: 10%;
    flex-direction: column;
  }
  .programme p:hover {
    cursor: pointer;
  }
  .programme p:last-child {
    color: hsl(236, 100%, 87%);
  }

  .two-column, .three-column , .four-column {
    width: 240px;
    height: 450px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-direction: column;
  }
  .row-1 , .row-2{
      width: 100%;
      height: 215px;
      border-radius:20px;
      position: relative;
      overflow: hidden;
  }
  .row-1{
      background:hsl(15, 100%, 70%);
  }
  .row-1 svg{
      position: absolute;
      right: 10%;
      top: -5%;
  }
  .container-2{
      width: 100%;
      height: 168px;
      background:hsl(235, 45%, 61%);
      position: absolute;
      bottom: 0;
      border-radius:20px;
      font-family:  sans-serif;
      color:#fff;
  }
  .container-2 p:first-child{
      font-size: 18px;
      position: absolute;
      top: 10%;
      left: 10%;
      font-weight: bolder;
  }
  .container-2 h1{
      position: absolute;
      top: 40%;
      left: 10%;
      letter-spacing: 2px;
  }
  .container-2 p:last-child{
      position: absolute;
      bottom:15%;
      left: 10%;
      color: hsl(236, 100%, 87%);
      font-weight: bold;
  }
  .row-2{
      background:hsl(145, 58%, 55%);
  }
  .row-2 svg{
      position: absolute;
  }
  .dots{
      width: 5px;
      height: 5px;
      background:hsl(236, 100%, 87%);
      border-radius:50%;
      position: absolute;
      right: 10%;
      top: 15%;
  }
  .dots::after , .dots::before{
      content: "";
      width: 5px;
      height: 5px;
      background: hsl(236, 100%, 87%);
      position: absolute;
      border-radius:50%;
  }
  .dots::before{
      right: 10px;
  }
  .dots::after{
      left: 10px;
  }
  

  .row-2 svg{
      position: absolute;
      right: 10%;
  }
  .row-2 .container-2{
      background:hsl(235, 46%, 20%);
  }
  
  
  .three-column .row-1{
      background:hsl(195, 74%, 62%);
  }
  .three-column .row-2{
      background:hsl(264, 64%, 52%);
  }

  .four-column {
      background:hsl(348, 100%, 68%);
  }
  .four-column .row-2 svg{
      top: -4%;
  }
  .four-column.row-2{
      background:hsl(43, 84%, 65%);
  }
  
  
  
  @media  only screen and (max-width:1145px) {
      main{
          height: 100%;
      }
      .container-row{
          grid-template-columns: repeat(2,1fr);
          grid-template-rows: auto auto;
      }
  }
  @media  only screen and (max-width:584px) {
      main{
          height: 100%;
      }
      .one-column{
          height: 220px;
      }
      .two-column , .three-column, .four-column{
          height: 380px;
          justify-content: space-between;
      }
      .jeremy-img{
          top: 25%;
          width: 80px;
          height: 80px;
      }
      .information-details p{
          top: 30%;
          left: 35%;
      }
      .information-details h1{
          top: 45%;
          left: 35%;
      }
      .information-details{
          height: 160px;
      }
     
      .container-row{
          grid-template-columns: repeat(1,1fr);
          grid-template-rows: auto auto auto auto;
      }
      .one-column , .two-column, .three-column, .four-column{
          width: 100%;
      }
  
      .container-row1 , .row-2{
          height: 180px;
      }
      .container-2{
          height: 140px;
          background:hsl(235, 46%, 20%);
      }
      .container-2 h1{
          top: 45%;
      }
      .container-row1 p:first-child , .row-2 p:first-child{
          top: 20%;
      }
      .container-row1 p:last-child , .row-2 p:last-child{
          top: 45%;
          left: 60%;
      }
      .dots{
          top: 30%;
      }
  
  }